secretsData.py
.idea/misc.xml
*.mp4
*.ogg
donottouch.py
/__pycache__
__pycache__/botCommand.cpython-313.pyc
1081515193.mp3
1081515193_CQACAgIAAxkBAAIEOmfUovNRNLctFK2OSwS6WCW5OksAAwN3AAIc5qhKttxUpollCHc2BA.mp3
342747182_CQACAgIAAxkBAAIEOmfUovNRNLctFK2OSwS6WCW5OksAAwN3AAIc5qhKttxUpollCHc2BA.mp3
342747182.mp3
